# This is just a template, please save it as .env

# Product URLs
PRODUCT_FILE=<PATH_TO_PRODUCT_URLS_FILE>

# Random delays between requests
MIN_SLEEP=1
MAX_SLEEP=10

# Telegram BOT settings
TELEGRAM_API_URL=https://api.telegram.org/bot
TELEGRAM_BOT_TOKEN=<YOUR_BOT_TOKEN>
TELEGRAM_CHAT_ID=<YOUR_CHAT_ID>
